import * as Style from './styles'

function {{pascalCase name}}() {
  return (
    <Style.{{ pascalCase name }}Wrapper>
      <h1>{{pascalCase name}}</h1>
    </Style.{{ pascalCase name }}Wrapper>
  )
}

export default {{pascalCase name}}
